/* Основная карточка */
.audit-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 400px;
    max-height: 500px;
/*    overflow: hidden;*/
}

.audit-card h3 {
    margin-top: 0;
}

/* Список аудита */
.audit-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Запись по шаблону */
.audit-item {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
    text-align: center;

    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    gap: 10px;
    font-size: 14px;
}

.audit-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.audit-info strong {
    font-weight: 600;
}

.audit-info span {
    opacity: 0.75;
}

/* Пустой список */
.no-audit {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: auto;
}

.hidden {
    display: none;
}

/* ===== ШАПКА ТАБЛИЦЫ АУДИТА ===== */
.audit-header {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr; /* совпадает с .audit-item */
    align-items: center;
    padding: 10px;
    background: #f3f4f6;
    border-bottom: 2px solid #d1d5db;
    font-size: 13px;
    font-weight: 600;
    color: #374151;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
    position: relative;
}

.audit-header .header-event {
    display: flex;
    flex-direction: column;
}

.audit-header .subheader {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.75;
    margin-top: 2px;
}

.audit-header .header-initiator {
    text-align: left; /* выравнивание текста внутри колонки */
    padding-left: 4px; /* отступ от левой границы колонки */
}

.audit-header .header-datetime {
    text-align: left; /* выравнивание текста внутри колонки */
    padding-left: 24px; /* отступ от левой границы колонки */
}

#auditUserFilterPopup {
    width: 200px;
}
