body {
    margin: 0;
    padding: 0;
    background: url("/web/static/background.gif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

/* Основной контейнер */
.container, .main-container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, .settings-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0; /* чтобы не сжимался при нехватке места */
    align-items: center;
}

.header-buttons, .menu-buttons, .settings-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-button:hover {
    transform: scale(1.1);
}

.icon-button img {
    width: 28px;
    height: 28px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    flex-shrink: 0;
}

.page-btn {
    padding: 5px 10px;
    border: 1px solid #aaa;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.page-btn.active {
    background: #222;
    color: white;
}

/* кнопки модалки */
.modal-actions {
    display:flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 6px;
}

.modal-actions button {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    background: #f6f6f6;
    cursor: pointer;
}

.modal-actions .danger {
    background: #222;
    color: #fff;
    border: none;
}

/* окно ошибки */
.error-window, .success-window {
    width: 320px;
    text-align: center;
}

/*#errorModal, #successModal p {
    margin: 1rem 0;
}*/

#errorModal, #successModal button {
    /*background: #222;*/
    /*color: white;*/
    /*padding: 0.5rem 1rem;*/
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.modal-close {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

/* Базовые модалки */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* <-- базовый уровень */
}

/* Модальное окно — поверх всех */
#errorModal, #successModal {
    z-index: 2000;
}

.modal-window h2 {
    margin-top: 0;
    font-size: 1.3rem;
}

.modal-window {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*text-align: left;*/
}

.filter-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
}

.filter-btn img {
    width: 14px;
    height: 14px;
    opacity: 0.7;
}

.filter-btn:hover img {
    opacity: 1;
}

/* popup */
.filter-popup {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    z-index: 2000;
    display: none;
}

.filter-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter-active-icon {
    width: 20px;          /* размер иконки */
    height: 20px;
    vertical-align: middle;
}

.filter-actions .danger {
    border-radius: 4px;
    background: #222;
    color: #fff;
    border: none;
    cursor: pointer;
}

.text-filter-input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.filter-options label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 400;
    color: #111827;
}
