.main-container {
    padding: 60px 60px; /* ← здесь можно увеличить первое значение (например, с 40 до 60) */
}

.settings-header {
    margin-bottom: 30px;
}

.menu-title h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.menu-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* карточка-кнопка */
.menu-card {
    margin: 0 auto;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    /*flex: 1;*/
    padding: 25px 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    min-width: 200px;

    /* ↓ теперь текст сверху, иконка внизу */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px; /* можно увеличить, если хочешь сделать карточки повыше */
}

.menu-card:hover {
    background-color: #f0f4ff;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.menu-card h3 {
    margin: 0;
    font-size: 18px;
    color: #222;
}

.menu-card p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.menu-card img {
    width: 60px;
    height: 60px;
    margin-top: 10px; /* чтобы отступ был от текста */
    margin-bottom: 0;
}