.user-card {
    background: #ffffff; /* тот же цвет, что и у container */
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;

    /* визуальное отделение от container */
    border: 1px solid rgba(0, 0, 0, 0.1); /* тонкая полупрозрачная рамка */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* мягкая тень */
    display: flex;
    flex-direction: column;

    flex: 1;
    width: 95%;
    min-height: 400px; /* фиксируем минимальную высоту */
    max-height: 450px; /* чтобы не росла при добавлении пользователей */
    overflow: hidden; /* чтобы не появлялся внутренний скролл */
    justify-content: space-between;
    transition: height 0.3s ease;
}

/* контейнер со списком пользователей */
.user-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* пользователи сверху */
}

.user-card h3 {
    margin-top: 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.user-actions button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.user-actions button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.icon-add-button {
    display: block;              /* делает кнопку блочным элементом */
    background: none;
    border: none;
    cursor: pointer;
    margin: 2rem auto;           /* центрирует по горизонтали */
    transition: transform 0.2s ease;
    text-align: center;          /* центрирует содержимое внутри */
}

.icon-add-button:hover {
    transform: scale(1.1);
}

.icon-add-button img {
    width: 50px;
    height: 50px;
}

/* затемнение фона */
/*.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}*/

.modal-window input[type="text"],
.modal-window input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.role-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-actions button:hover:not(:disabled) {
    background: #f0f0f0;
}

#createUserBtn {
    background: #222;
    color: white;
}

#createUserBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
