<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пользователи</title>
    <link rel="stylesheet" th:href="@{/css_styles/userManagement.css}">
    <script defer th:src="@{/js_scrypts/userManagement.js}"></script>
    <input type="hidden" id="currentUser" th:value="${currentUser}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<div class="container">
    <header>
        <h1>Пользователи</h1>
        <div class="header-buttons">
            <button class="icon-button" id="backButton">
                <img src="/web/static/icons/back.png" alt="Назад">
            </button>
            <button class="icon-button" id="homeBtn">
                <img src="/web/static/icons/home.png" alt="Домой">
            </button>
            <button class="icon-button" id="logoutButton">
                <img src="/web/static/icons/logout.png" alt="Выход">
            </button>
        </div>
    </header>

    <section class="user-card">
        <h3>Существующие в системе пользователи</h3>
        <div class="user-list">
            <ul id="userList"></ul>
        </div>

        <div class="pagination" id="pagination"></div>
    </section>

    <button class="icon-add-button" id="addUserBtn">
        <img src="/web/static/icons/addUser.png" alt="Добавить пользователя">
    </button>
</div>
<!-- Модальное окно добавления пользователя -->
<div id="addUserModal" class="modal-overlay">
    <div class="modal-window">
        <h2>Добавить пользователя</h2>
        <form id="addUserForm">
            <label for="username">Имя</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>

            <div class="role-group">
                <label><input type="radio" name="role" value="ADMIN" required> Администратор ИБ</label>
                <label><input type="radio" name="role" value="AUDITOR" required> Аудитор</label>
                <label><input type="radio" name="role" value="USER" required> Пользователь</label>
            </div>

            <div class="modal-actions">
                <button type="button" id="cancelAddUser">Отмена</button>
                <button type="submit" id="createUserBtn" disabled>Создать</button>
            </div>
        </form>
    </div>
</div>

<!-- Модальное окно редактирования пользователя -->
<div id="editUserModal" class="modal-overlay">
    <div class="modal-window">
        <button class="modal-close" id="closeEditModal" aria-label="Закрыть">×</button>
        <h2 id="editTitle">Редактировать пользователя</h2>

        <form id="editUserForm">
            <label for="editUsername">Имя пользователя</label>
            <input type="text" id="editUsername" name="editUsername" required>

            <label for="editPassword">Новый пароль</label>
            <input type="password" id="editPassword" name="editPassword" placeholder="Оставьте пустым, если менять не нужно">

            <div class="role-group">
                <label><input type="radio" name="editRole" value="ADMIN"> Администратор ИБ</label>
                <label><input type="radio" name="editRole" value="AUDITOR"> Аудитор</label>
                <label><input type="radio" name="editRole" value="USER"> Пользователь</label>
            </div>

            <div class="modal-actions">
                <button type="button" id="cancelEditUser">Отмена</button>
                <button type="submit" id="applyEditUser" class="danger">Сохранить</button>
            </div>
        </form>
    </div>
</div>


<!-- Модальное окно ошибки -->
<div id="errorModal" class="modal-overlay">
    <div class="modal-window error-window">
        <h2>Ошибка!</h2>
        <p id="errorMessage">Пользователь уже существует</p>
        <button id="closeErrorModal">Закрыть</button>
    </div>
</div>

<!-- Модальное окно ошибки удаления -->
<div id="deleteErrorModal" class="modal-overlay">
    <div class="modal-window error-window">
        <h2>Ошибка!</h2>
        <p id="deleteMessage">Нельзя удалить самого себя</p>
        <button id="deleteCloseErrorModal">Закрыть</button>
    </div>
</div>

<!-- Модальное подтверждение удаления -->
<div id="confirmDeleteModal" class="modal-overlay">
    <div class="modal-window">
        <button class="modal-close" id="closeDeleteModal" aria-label="Закрыть">×</button>
        <h2 id="deleteTitle">Удалить пользователя %имя%?</h2>
        <p id="deleteSubtitle">Подтвердите удаление</p>
        <div class="modal-actions">
            <button id="cancelDeleteBtn">Отмена</button>
            <button id="confirmDeleteBtn" class="danger">Да</button>
        </div>
    </div>
</div>


</body>
</html>